<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <logging>
        <log type="coverage-clover"
             target="./build/coverage.xml"/>
    </logging>
     
    <testsuites>
        <testsuite>
            <directory>./tests/Api</directory>
            <directory>./tests/Model</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Api</directory>
            <directory suffix=".php">./src/Model</directory>
        </whitelist>
    </filter>
</phpunit>
